<html>
    <head>
        <title>Kezia's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Posts</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> My first pos was about one of my favorite singers and what makes him different.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I think this one was either about my dog or Blackpink Lisa and how I want to dance like her and her fashion is so cool.</p>
        </div>
    </body>
</html>
